.footer {
	position: fixed;
	left:0px;
	bottom:0px;
	padding: 4em;
	background: linear-gradient(to top, #0055ab 0%, #455697 100%);
	width: 100%;
}

.footer i {
	color:white;
	margin-right: 10px;
	font-size: 2em;
}

