html {
  overflow-y: hidden; 
  overflow-x: hidden; 
}
footer {
  background: linear-gradient(to bottom, #0055ab 0%, #455697 100%);
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom:0;
}
.footer-copyright {
  position: relative;
}
.icons {
  font-size: 2em !important;
  margin-top: 10%;
  margin-left: .5em;
  color: whitesmoke;
}
.newsletter-icon {
  font-size: 2em !important;
  margin-left: .5em;
  color: whitesmoke;
  margin-left: 60%;
  margin-top: 10px;
}
.cop {
  margin-left: 17.8% !important;
}
.icon{
  display: inline;
  font-size: 1.2em;
  margin-left: 3%;
}
.newsletter-icon {
  display: inline;
}
.copy {
  display: inline;
  font-size: 1.2em;
}
