html {
  overflow-y: hidden; 
  overflow-x: hidden; 
}
footer {
  background: linear-gradient(to bottom, #0055ab 0%, #455697 100%);
  position: fixed;
  bottom: 0;
  width: 100%;
}
.icons {
  font-size: 2em !important;
  margin-top: 10%;
  margin-left: .5em;
  color: whitesmoke;
}
.cop {
  margin-left: 17.8% !important;
}
