html, body {
  height: 100%;
  background: linear-gradient(#0055ab 0%, #455697 100%);
  font-family: 'ABeeZee', 'sans-serif';
}
.content {
  position: relative;
  text-align: center;
  height: 100%;
  margin-left: 25%;
  margin-right: 25%;
}
.inputs {
  top: 29%;
  border-radius: 15px;
  left: 20%;
  position: absolute;
  padding-top: 2.5em;
  padding-left: 4em;
  padding-right: 4em;
  padding-bottom: 2.5em;
  background: linear-gradient(rgb(30,144,255) 0%, rgb(135,206,235) 100%);
  border: solid .23em whitesmoke;
  margin-top: 2%;
}
.campos {
  margin-top: 5%;
  font-size: 1em;
  border-radius: 7px;
}
label {
  color: whitesmoke;
  font-size: 1.3em;
}
button {
  margin-top: 8%;
  font-size: 1em;
  padding: .8em;
  padding-left: 1.7em;
  padding-right: 1.7em;
  border-radius: 2em;
  color: whitesmoke;
  font-weight: bold;
  background-color: rgb(135,206,235);
  transition: .5s;
  border: solid 2px whitesmoke;
}
button:hover {
  transition: .5s;
  padding-left: 2.7em;
  padding-right: 2.7em;
  background-color: whitesmoke;
  border-color: rgb(135,206,235);
  color: rgb(0,191,255);
  cursor: pointer;
}
h1 {
  margin-bottom: 5%;
  font-size: 2.7em;
  letter-spacing: .12em;
  color: whitesmoke;
  font-family: 'Roboto', 'sans-serif';
}
.correto {
  color: red;
}
.incorre {
  color: red;
}
