.banner {
	width: 100%;
	height: 70vh;
	background-image: url("https://wallpaperaccess.com/full/4439.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	padding: 2% 7%;
	color: white;
}

.banner h1 {
	m
}