html, body {
  font-family: 'ABeeZee';
}
.nav-body {
  padding: 1.6em;
  background: linear-gradient(to bottom, #0055ab 0%, #455697 100%);
  box-shadow: 0 4px 4px rgba(0,0,0,0.15);
  position: relative;
}
.nav-title {
  margin-left: 8%;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-links {
  margin-right: 13%;
  margin-top: calc(43px - 35px);
  float: right;
}
.nav-links li {
  display: inline;
}
.nav-links li a {
  padding-left: .8em;
  color: white;
  text-decoration: none;
  font-size: 1.3em;
}

li form{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

.search{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;;
    height: 38px;
    line-height: 20px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
}

.fa {
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

li form:hover{
    width: 200px;
    cursor: pointer;
}

form:hover input{
    display: block;
}

form:hover .fa{
    background: #07051a;
    color: white;
}
