.row {
    width: 80% !important;
    margin-right: 20% !important;
    margin-left: 0% !important;
  }
  .titulo-newslatter {
    text-align: center;
    margin-top: -3%;
  }
  label {
    font-size: 1.3em !important;
  }
  input {
    font-size: 1.2em !important;
  }
  button {
    background-color: #0055ab !important;
    width: 79%;
    margin-left: 10.6%;
  }