html, body {
    height: 100%;
}
.row {
    width: 80% !important;
    margin-left: 18.5% !important;
    margin-right: 18.5% !important;
 }
.titulo-newslatter {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
label {
    font-size: 1.3em !important;
}
input {
    font-size: 1.2em !important;
}
button {
    background-color: #0055ab !important;
    width: 51%;
    margin-top: 2.5%;
    margin-bottom: 5%;
}
.page {
      height: auto;
}
