html, body{
  width: 100%;
  height:100%;
  font-family: 'ABeeZee';
}
.container-box {
  margin-left: 13%;
  margin-right: 13%;
  background-color: lightgrey;
  background: linear-gradient(to bottom, #e8f0f4 0%, #d0e1ea 13%, #b9d3df 100%);
  height: 100%;
  box-shadow: 0px .5px 5px black;
  display: relative;
  opacity: .975;
}
.background {
  background-image: url('../components/background.png');
  position: relative;
}
.sobre-title {
  text-align: center;
  font-size: 3.2em;
  padding-top: 2%;
  text-transform: uppercase;
  text-shadow: -1px 1px 1px ;
}
.default-img {
  width: 478px;
  height: 269px;
  border: 7px outset white;
}
.imagem-sobre {
  margin-top: 3%;
  margin-left: 4%;
}
.default-paragraph {
  width: 50%;
  vertical-align: middle;
  display: inline-block;
  font-size: 1.4em;
  line-height: 1.5em;
  text-align: justify;
}
.paragraph-1 {
  margin-left: 6%;
}
.words {
  letter-spacing: .4em;
  color: #DC143C;
  text-transform: uppercase;
}
.arruma-e {
  text-transform: uppercase;
  color: #DC143C;
}
.sobre-word {
  color: #DC143C;
}
.imagem-sobre-2 {
  margin-top: 5%;
  margin-left: 5%;
}
.paragraph-2 {
  margin-top: 5%;
  margin-left: 5%;
  display: inline-block;
}
.title-diferencial {
  text-align: center;
  padding-top: 2em;
  font-size: 2.8em;
  text-transform: uppercase;
}
.list {
  margin-top: 5%;
  display: inline-block;
  font-size: 1.4em;
  text-align: center;
  line-height: 1.3em;
  padding-bottom: 4em;
}
.list-win {
  margin-left: 20%;
  color: green;
}
.list-lose {
  margin-right: 20%;
  float: right;
  color: #DC143C;
}
.list li:first-child {
  font-size: 1.6em;
  padding-bottom: .8em;
  text-decoration: overline;
  color: #000;
}
