html, body {
  font-family: 'ABeeZee' !important;
}
.primeira-sessao {
  margin-top: -4.667%;
  height: 94vh;
  background-image: url(../components/img-sobre2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.titulo-sobre {
  text-align: center;
  color: whitesmoke;
}
.moto {
  color: #0055ab;
}
